<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imask"></script>
    <title>Банкомат</title>
</head>
<body>
<div th:with="atmPage=true">
    <div th:insert="~{components/navbar.html :: navbar}"></div>
</div>

<div class="container">
    <h1 class="mt-5 text-center mb-5">Банкомат</h1>

    <div th:if="${invalidData}">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="toast text-bg-danger show" data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Ошибка аутентификации</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Введенные данные некорректны.
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <form class="col-md mt-3" action="#" th:action="@{/atm/authenticate}" th:object="${card}" method="post">
        <div class="row mb-3">
            <div class="col"></div>
            <div class="col">
                <label for="cardNumberInput" class="form-label">Номер карты</label>
                <input required class="form-control" id="cardNumberInput" type="text" th:field="*{cardNumber}">
            </div>
            <div class="col"></div>
        </div>

        <div class="row mb-3">
            <div class="col"></div>
            <div class="col">
                <label for="pinInput" class="form-label">ПИН-код</label>
                <input required class="form-control" id="pinInput" type="password" th:field="*{pin}">
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Вставить карту</button>
            </div>
            <div class="col"></div>
        </div>
    </form>

</div>

<script>
  let cardNumberInput = document.getElementById('cardNumberInput');
  let cardNumberMask = IMask(homePhoneNumberInput, {mask: '0000 0000 0000 0000'});
</script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</body>
</html>